<template>
  <div id="app">
    <h1>Vueで○×ゲーム</h1>
    <table id="table">
      <tr v-for="(row, rowsIndex) in states" v-bind:key="rowsIndex">
        <td v-for="(state, colsIndex) in row" @click="onSelect(rowsIndex, colsIndex)" v-bind:key="`${rowsIndex}:${colsIndex}`">
          <div style="color:#f00;" v-if="state==1">○</div>
          <div style="color:#00f;" v-if="state==2">×</div>
        </td>
      </tr>
    </table>
    <br>
    <div style="text-align:center;">
      <div style="color:#f00;" v-if="playerId==1">「○ プレイヤーさん、マスを選んでください」</div>
      <div style="color:#00f;" v-if="playerId==2">「× プレイヤーさん、マスを選んでください」</div>
    </div>
    <br>
    <div v-if="winnerText" style="text-align:center;">
      <h2 v-text="winnerText"></h2>
      <img src="./assets/congrats.png">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class App extends Vue {
  // 初期値はmountedの中で設定
  private states: number[][] = [];
  private playerId: number = 1;
  private winnerText: string = '';

  private init() {
    this.states = [
      [-1, -1, -1],
      [-1, -1, -1],
      [-1, -1, -1],
    ];
  }
  private onSelect(rowsIndex: number, colsIndex: number) {
    this.winnerText = '';

    if (this.states[rowsIndex][colsIndex] !== -1) {
      alert('そのマスは、すでに選択されています！');
    } else {
      // const states = JSON.parse(JSON.stringify(this.states))
      const states = Array.from(this.states);
      states[rowsIndex][colsIndex] = this.playerId;
      this.states = states;
      this.playerId = (this.playerId === 1) ? 2 : 1;
      const winnerId = this.getWinnerId();
      if (winnerId !== -1) {
        this.init();
        const playerIds = [ '-', '○', '×' ];
        this.winnerText = playerIds[winnerId] + ' さんの勝ちです。おめでとうございます！';
      } else if (this.isDraw()) {
        this.init();
        alert('引き分けです！');
      }
    }
  }
  private getWinnerId() {
    for (let i = 0; i < 3 ; i++) {
      // 横の列
      const row = this.states[i];
      if (this.isStatesFilled(row)) { return row[0]; }
      // 縦の列
      const col = [
        this.states[0][i],
        this.states[1][i],
        this.states[2][i],
      ];
      if (this.isStatesFilled(col)) { return this.states[0][i]; }
    }
    // ななめ
    const skew1 = [
      this.states[0][0],
      this.states[1][1],
      this.states[2][2],
    ];
    if (this.isStatesFilled(skew1)) { return this.states[0][0]; }
    const skew2 = [
      this.states[0][2],
      this.states[1][1],
      this.states[2][0],
    ];
    if (this.isStatesFilled(skew2)) { return this.states[0][2]; }
    return -1;
  }
  private isStatesFilled(states: number[]) {
    return(
      states[0] !== -1 &&
      states[0] === states[1] &&
      states[1] === states[2]
    );
  }
  private isDraw() {
    for (const row of this.states) {
      for (const state of row) {
        if (state === -1) {
          return false;
        }
      }
    }
    return true;
  }
  private mounted() {
    this.init();
  }
}
</script>

<style lang="scss">
#table {
  margin:0 auto;
  border-collapse: collapse;
  border: 3px solid #ccc;
}

#table td {
  border:1px solid #ccc;
  height: 80px;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  font-size: 75px;
  cursor: pointer;
}
</style>
